.search {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #ccc;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  gap: 10px;

  input {
    border: none;
    font-size: 18px;
  }

  svg{
    min-width: 20px;
    min-height: 20px;
  }
}

.close{
  cursor: pointer;
}